<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Nolanus/ngx-multi-window">Github</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">Angular Multi-Window</h3>
  </div>

  <div class="jumbotron">
    <h1 class="display-3">Talking Tabs!</h1>
    <p class="lead">Cross-Window/Tab communcation in angular for multi-window applications.</p>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <h3>Registered Windows</h3>
      <p class="text-muted">The list of known windows will be refreshed on regular basis.</p>
      <p>
        <button class="btn btn-secondary" (click)="newWindow()">Open a new Window</button>
      </p>
    </div>

    <div class="col-12 col-md-6">
      <h3>Send Message</h3>
      <form>
        <div class="form-group">
          <label for="recipientInput">Recipient Window Id</label>
          <input type="text" class="form-control" id="recipientInput" #recipientInput required readonly>
          <small id="recipientInputHelp" class="form-text text-muted">Select a window from the list of known windows
          </small>
        </div>
        <div class="form-group">
          <label for="messageInput">Message</label>
          <input type="text" class="form-control" id="messageInput" #messageInput required>
        </div>
        <button type="submit" class="btn btn-primary"
                (click)="sendMessagesToAllWindows(messageInput.value); messageInput.value = ''">Submit
        </button>
      </form>
    </div>
  </div>

  <footer class="footer">
    <p>Angular Multi-Window library demo application</p>
  </footer>

</div> <!-- /container -->

